.home {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #eaeded;
}

#home__img {
  /* width: 100%; */
  display: block;
  margin: 0 auto;
  min-width: 700px;
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  z-index: -1;
  margin-bottom: -300px;
}

.home__productList {
  z-index: 1;
  margin: 0px 5px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(<base>, 1fr)) */
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.right.carousel-control-next {
  margin-bottom: 250px;
}

.left.carousel-control-prev {
  margin-bottom: 250px;
}

.carousel-control.right:hover,
.carousel-control-next:hover {
  background-image: none !important;
}

.carousel-control.left:hover,
.carousel-control-prev:hover {
  background-image: none !important;
}
